.nav-main {
  width: 100%;
  background-color: #222;
  height: 70px;
  color: #fff;
}

.logo {
  float: left;
  align-self: center;
  height: 30px;
  padding: 0px 30px;
  margin-top: 22px;
  width: 250px;
}

.nav-main ul {
  margin: 0px;
  padding: 0px;
  float: left;
  list-style-type: none;
}

.nav-main ul li {
  float: left;
}

.nav-item {
  display: inline-block;
  padding: 15px 20px;
  height: 40px;
  line-height: 35px;
  color: white;
  text-decoration: none;
  font-size: 22px;
}

.nav-item:hover {
  background-color: #444666;
}

.nav-content {
  position: absolute;
  top: 70px;
  overflow: hidden;
  background-color: #222;
  color: white;
  max-height: 0px;
}

.nav-content:hover {
  background-color: #444;
  max-height: 400px;
}

.nav-content a {
  color: white;
  text-decoration: none;
}

.nav-content a:hover {
  background-color: #444666;
}

.nav-sub {
  min-width: 188px;
  display: flex;
  flex: 1;
}

.nav-sub ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.nav-sub ul li {
  background-color: #222;
  display: flex;
  flex: 1;
}

.nav-sub ul li a {
  min-width: 168px;
  display: flex;
  flex: 1;
  padding: 5px 0px;
  padding-left: 20px;
  font-size: 20px;
}

.nav-item:hover ~ .nav-content {
  max-height: 400px;
  -webkit-transition: max-height 0.5s ease-in;
  -moz-transition: max-height 0.5s ease-in;
  transition: max-height 0.5s ease-in;
}
