.App {
  text-align: center;
}

.Instructions {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2%;
  display: flex;
  flex: 1;
}

.InstructionsWrapper {
  flex-direction: column;
  margin-right: 100px;
}

.Title {
  font-size: 50px;
  font-weight: bold;
}

.Image {
  height: 400px;
  width: 210px;
}

.ImageWrapper {
  height: 400px;
  width: 210px;
  display: flex;
  flex-direction: row;
}

.Pi {
  color: #161343;
  font-size: 24px;
  position: absolute;
  right: 5px;
  margin-bottom: 5px;
}
